<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oven.oven">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5ceff209f0023946fe6f2d55bbcf52ef" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.ItemListActivity" />
        <activity android:name=".layout.CartActivity" />
        <activity android:name=".layout.ItemDetailActivity" />
        <activity android:name=".layout.KakaoSignupActivity" />
        <activity android:name=".layout.SplashActivity" />
        <activity android:name=".layout.JoinActivity" />
        <activity android:name=".layout.ClauseActivity" />
        <activity android:name=".layout.ItemListMainActivity" />
        <activity
            android:name=".component.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme" />
        <activity android:name=".layout.LikeListActivity"></activity>
    </application>

</manifest>